@font-face {
	font-family: 'Crackman';
	src: url('fonts/crackman.regular.ttf');
}

@font-face {
	font-family: 'Zelda';
	src: url('fonts/zelda.otf');
}

html {
	scroll-behavior: smooth;
}

body, #container {
	overflow-x: scroll;
	width: 100%;
	height: 100%;
	margin: 0;
	position: absolute;
	background-color: #2b5754;
}



/********************
 *                  *
 *      START       *
 *                  *
 *                  *
 ********************/


/* Character Select */
#start {
	font-family: 'Crackman';
	width: 100vw;
	height: 100vh;
	float: left;
	margin: auto;
}

#title {
	height: 20%;
	font-size: 80px;
	text-align: center;
	line-height: 2;
	color: #52bfa1;
}

#start_main {
	height: 80%;
	display: flex;
	justify-content: center;
}

#char_stats {
	width: 30%;
	height: 100%;
	font-size: 30px;
	color: #52bfa1;
	padding: 1%;
	box-sizing: border-box;

}

#char_stats div {
	text-align: center;
}

#name, #select {
	font-family: 'Zelda';
	text-align: center;
	box-sizing: border-box;
}

#name {
	font-size: 70px;
	margin-bottom: 1%;
	color: #000;
	height: 15vh;
	position: absolute;
}

#name_placeholder {
	height: 15vh;
	width: 100%;
}

#select {
	height: 15%;
	font-size: 10vh;
	color: #333;
	border: 2px dashed #333;
	box-shadow: 0 0 0 4px #2b5754;
}

#select:hover {
	color: #000;
	background: #4b948f;
	border: 2px dashed #333;
	box-shadow: 0 0 0 4px #4b948f, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
}

#select:hover, #left_arrow:hover, #right_arrow:hover {
	cursor: pointer;
}


.dot {
	height: 25px;
	width: 25px;
	background-color: #52bfa1;
	border-radius: 50%;
	display: inline-block;
	margin: 5px;
}

.gray {
	background-color: #aaa;
}

#character_container {
	width: 40%;
	display: inline-block;
	height: 100%;
}

#character {
	height: 80%;
	/*background-position: 120%;*/
	background-repeat: no-repeat;
}


/* Arrows */
#left_arrow {
	transform: rotate(181deg);
	-webkit-transform: rotate(181deg);
	height: 50%;
	margin-top: 10%;
}

#right_arrow {
	transform: rotate(-1deg);
	-webkit-transform: rotate(-1deg);
	height: 50%;
	margin-top: 10%;
}