html {
	scroll-behavior: smooth;
}

body, #container {
	overflow-x: hidden;
	width: 20000px;
	height: 100%;
	margin: 0;
	position: absolute;
}

/********************
 *                  *
 *     PARALLAX     *
 *    BACKGROUND    *
 *                  *
 ********************/

.bg {
	position: absolute;
	background-repeat: repeat-x;
	background-position: left top;
	width: 100%;
	height: 100%;
	background-size: auto 100%;
	transition: 0s linear;
	transition-property: background-property;
}


#bg1 {
	background-image: url('../img/background/plx-1.png');
}

#bg2 {
	background-image: url('../img/background/plx-2.png');	
}

#bg3 {
	background-image: url('../img/background/plx-3.png');
}

#bg4 {
	background-image: url('../img/background/plx-4.png');	
}

#bg5 {
	background-image: url('../img/background/plx-5.png');	
}

#ground {
	height: 10%;
	bottom: 0px;
	background-image: url('../img/background/jungle-tileset.png');
}

#ground-over {
	height: 10%;
	bottom: 0px;
	z-index: 3;
	background-image: url('../img/background/jungle-tileset-over.png');
}

/********************
 *                  *
 *    CHARACTER     *
 *                  *
 *                  *
 ********************/

#character {
	position: fixed;
	background-repeat: no-repeat;
	bottom: 5%;
	z-index: 2;
}

/********************
 *                  *
 *    QUESTIONS     *
 *                  *
 *                  *
 ********************/

.question_box {
	height: 80vh;
	width: 25vw;
	background-color: #65ada060;
	position: fixed;
	top: 25px;
	left: 170vw;
}

.question_box div {
	margin: 15px;
}

.answer {
	display:block;
	border:none;
	border-bottom:1px solid #ccc;
	width:90%;
	margin: 5%;
	font-size: 20px;
	background-color: #65ada0;
	font-family: Roboto;
	text-align: center;
}

.q_img {
	width: 90%;
	margin: 5%;
}

.wrong_cont {
	height: 15%;
	position: absolute;
	bottom: 25%;
	width: 100%;
	margin: 0;
}

.wrong {
	height: 50%;
	margin-left: 8%;
	display: none;
}

.hint_cont {
	height: 15%;
	position: absolute;
	bottom: 0;

}

.hint {
	width: 20%;
	margin-left: 10%;
}

/********************
 *                  *
 *     HINTBOX      *
 *                  *
 *                  *
 ********************/

#hintbox_cont {
	background-color: #aedecb;
	font-family: Roboto;
	font-size: 20px;
	position: fixed;
	top: 5%;
	left: 5%;
}

.hintbox {
	width: 50%;
	line-height: 20px;
}

/********************
 *                  *
 *      HOW-TO      *
 *                  *
 *                  *
 ********************/

#howto_cont {
	font-family: Roboto;
	font-size: 30px;
	height: 80vh;
	width: 25vw;
	background-color: #65ada060;
	position: fixed;
	top: 25px;
	left: 70vw;
}

