@font-face {
	font-family: 'Crackman';
	src: url('fonts/crackman.regular.ttf');
}

@font-face {
	font-family: 'Zelda';
	src: url('fonts/zelda.otf');
}

@font-face {
  font-family: 'Alegreya';
  src: url('fonts/AlegreyaSansSC-Medium.ttf');
}

body {
	box-sizing: border-box;
	margin: 0;
	width: 100vw;
	height: 100vh;
	font-size: 200px;
	font-family: 'Crackman';
	background-color: #2b5754;
}

/********************
 *                  *
 *       START      *
 *                  *
 *                  *
 ********************/

#start_container {
  overflow: hidden;
}

#start_title {
  text-align: center;
  line-height: 40vh;
  height: 80vh;
  margin-top: 5vh;
}

#start_title span {
  color: #000;
  text-decoration: none;
}

#start_title span:hover {
  color: #52bfa1;
  cursor: pointer;
  padding: 20px;
  border: 8px dashed #52bfa1;
}

#extra {
  font-size: 20px;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  position: absolute;
  text-align: center;
  width: 100%;
  font-style: italic;
}

#enter_code, #return {
	height: 15%;
	font-size: 10vh;
	color: #333;
	font-family: 'Zelda';
	text-align: center;
	box-sizing: border-box;
	width: 100%;
	border: 2px solid #2b5754;
}

#enter_code span, #return span {
	border: 2px dashed #333;
	box-shadow: 0 0 0 4px #2b5754;
	display: inline-block;
	width: 600px;
}

#enter_code span:hover, #return span:hover {
	color: #000;
	background: #4b948f;
	border: 2px dashed #333;
	box-shadow: 0 0 0 4px #4b948f, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
	cursor: pointer;
}

/********************
 *                  *
 *       ENTER      *
 *       CODE       *
 *                  *
 ********************/

#enter_code_title {
	text-align: center;
	height: 60vh;
	margin: 20vh 0 5vh 0;
	font-size: 40px;
  	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  	line-height: 60px;
}

.final_solution {
	height: 60px;
	width: 60px;
  	text-align: center;
  	font-size: 40px;
}



/********************
 *                  *
 *     CHARACTER    *
 *      SELECT      *
 *                  *
 ********************/

#character_selection_container {
	display: none;
	overflow: hidden;
 	position: absolute;
 	margin: 0;
 	width: 100%;
 	height: 100%;
 	background-color: #2b5754;
}

/* Character Select */
#start {
	font-family: 'Crackman';
	width: 100vw;
	height: 100vh;
	float: left;
	margin: auto;
}

#sel_title {
	height: 20%;
	font-size: 80px;
	text-align: center;
	line-height: 2;
	color: #52bfa1;
}

#start_main {
	height: 80%;
	display: flex;
	justify-content: center;
}

#char_stats {
	width: 30%;
	height: 100%;
	font-size: 30px;
	color: #52bfa1;
	padding: 1%;
	box-sizing: border-box;

}

#char_stats div {
	text-align: center;
}

#name, #select {
	font-family: 'Zelda';
	text-align: center;
	box-sizing: border-box;
}

#name {
	font-size: 70px;
	margin-bottom: 1%;
	color: #000;
	height: 15vh;
	position: absolute;
}

#name_placeholder {
	height: 15vh;
	width: 100%;
}

#select {
	height: 15%;
	font-size: 10vh;
	color: #333;
	border: 2px dashed #333;
	box-shadow: 0 0 0 4px #2b5754;
}

#select:hover {
	color: #000;
	background: #4b948f;
	border: 2px dashed #333;
	box-shadow: 0 0 0 4px #4b948f, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
}

#select:hover, #left_arrow:hover, #right_arrow:hover {
	cursor: pointer;
}


.dot {
	height: 15px;
	width: 15px;
	background: linear-gradient(to right, #52bfa1 50%, #ccc 50%);
	background-size: 200% 100%;
	background-position-x: 100%;
	border-radius: 50%;
	display: inline-block;
	margin: 5px;
}

.gray {
	background-color: #aaa;
}

#character_container {
	width: 40%;
	display: inline-block;
	height: 100%;
}

#sel_character {
	height: 80%;
	background-repeat: no-repeat;
}


/* Arrows */
#left_arrow {
	transform: rotate(181deg);
	-webkit-transform: rotate(181deg);
	height: 50%;
	margin-top: 10%;
}

#right_arrow {
	transform: rotate(-1deg);
	-webkit-transform: rotate(-1deg);
	height: 50%;
	margin-top: 10%;
}
 
/********************
 *                  *
 *      CONFIRM     *
 *                  *
 *                  *
 ********************/

#confirm_container {
  display: none;
  text-align: center;
  font-size: 100px;
  z-index: 2;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #2b5754;
  overflow: hidden;
}

#confirm_container > * {
  position: relative;
}

#prompt {
  line-height: 30vh;
}

#conf_answer {
  line-height: 20vh;
}

#conf_inner_container {
	height: 45vh;
	width: 100vw;
	display: flex;
	align-items: center;
}

#conf_character {
  height: 100%;
}

#conf_answer span {
  display: none;
  color: #000;
  text-decoration: none;
  padding: 20px;
  border: 8px dashed #2b5754;
}

#conf_answer span:hover {
  color: #52bfa1;
  cursor: pointer;
  padding: 20px;
  border-color: #52bfa1;
}

#loadbar {
	background-color: #52bfa1;
	height: 2vh;
	width: 0;
	position: fixed;
	bottom: 0;
}

#conf_inner_container > div {
	float: left;
	box-sizing: content-box;
	font-size: 16px;
	/*height: 100%;
	box-sizing: border-box;
	padding: 0 5vw;*/
	padding: 0 3vw;
}

#conf_inner_container > #cicd_1 {
	width: 50%;
	text-align: right;
	height: 100%;
	box-sizing: border-box;
	padding: 5vh 3vw 0 3vw;
}

#conf_inner_container > #cicd_2 {
  text-align: left;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  /* font-family: 'Alegreya'; */
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  font-size: 30px;
  width: 25%;
}

#cicd_2 > p {
  line-height: 30px;
  font-size: 16px;
  /* margin: 10vh 0 0 0; */
}




 /********************
 *                  *
 *     GAMEPLAY     *
 *                  *
 *                  *
 ********************/

#game_container {
	display: none;
	overflow: hidden;
	width: 100%;
	height: 100%;
	margin: 0;
	position: absolute;
	/* font-family: 'Alegreya'; */
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	z-index: 1;
}

/********************
 *                  *
 *     PARALLAX     *
 *    BACKGROUND    *
 *                  *
 ********************/

.bg {
	position: absolute;
	background-repeat: repeat-x;
	width: 100%;
	height: 100%;
	background-size: auto 100%;
	transition: 0s linear;
	transition-property: background-property;
}


#bg1 {
	background-color: #aedecb;
}

#bg2 {
	background-image: url('../img/background/plx-2.png');	
}

#bg3 {
	background-image: url('../img/background/plx-3.png');
}

#bg4 {
	background-image: url('../img/background/plx-4.png');	
}

#bg5 {
	background-image: url('../img/background/plx-5.png');	
}

#ground {
	height: 10%;
	bottom: 0px;
	background-image: url('../img/background/jungle-tileset.png');
}

#ground-over {
	height: 10%;
	bottom: 0px;
	z-index: 4;
	background-image: url('../img/background/jungle-tileset-over.png');
}

/********************
 *                  *
 *    CHARACTER     *
 *                  *
 *                  *
 ********************/

#game_character {
	position: fixed;
	background-repeat: no-repeat;
	bottom: 5%;
	z-index: 3;
}

/********************
 *                  *
 *    QUESTIONS     *
 *                  *
 *                  *
 ********************/

.question_box {
	height: 80vh;
	width: 25vw;
	background-color: #65ada060;
	position: fixed;
	left: 170vw;
}

.question_box .question {
	display: flex;
	align-items: center;
	font-size: 20px;
	height: 30%;
	margin: 0;
	justify-content: center;
	text-align: center;
	width: 100%;
	position: relative;
	box-sizing: border-box;
	padding: 0 5%;
}

.question_cpt {
	height: 15% !important;
}

.answer {
	display: block;
	height: 20%;
	width: 100%;
	font-size: 20px;
	background-color: #aedecb;
	text-align: center;
	/* font-family: 'Alegreya'; */
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	position: absolute;
	top: 50%;
	box-sizing: border-box;
	background-clip: padding-box;
	border: 2px #aedecb solid;
}

.answer_cpt {
	height: 15% !important;
	top: 55% !important;
}

.answer:hover {
	background-color: #c9ffea !important;
	border-color: #c9ffea !important;
}

.question_box .choice_container {
	height: 70%;
	margin: 0;
	width: 100%;
}

.question_box .choice_divider {
	display: block;
	height: 2%;
	width: 100%;
	margin: 0;
}

#howto_cont .howto_divider {
	display: block;
	height: 1vh;
	width: 100%;
	margin: 0;
}

.question_box .choice {
	display: flex;
	height: 23%;
	width: 100%;
	margin: 0;
	font-size: 20px;
	background-color: #aedecb;
	align-items: center;
	justify-content: center;
	flex: 1;
	text-align: center;
	/* font-family: 'Alegreya'; */
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	padding: 10px 5px;
	border: 2px #65ada000 solid;
	box-sizing: border-box;
	/* background-clip: padding-box; */
}

.question_box .choice:hover {
	background-color: #c9ffea !important;
	border-color: #c9ffea !important;
	cursor: pointer;
}

.q_img {
	height: 40%;
	max-width: 90%;
	max-height: 40%;
	display: block;
	margin: 5% auto;
	text-align: center;
}

.q_img_cpt {
	height: 30% !important;
	max-height: 30% !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #444;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #444;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #444;
}

.wrong_cont {
	height: 10vh;
	position: absolute;
	bottom: 11vh;
	width: 100%;
	margin: 0;
}

.wrong {
	margin-left: 8%;
	display: none;
	position: absolute;
}

.wrong1 {
	margin-left: 10%;
	width: 13%;
}

.wrong2 {
	margin-left: 33%;
	width: 8%;
}

.wrong3 {
	margin-left: 51%;
	width: 39%;
}

.hint_cont {
	height: 11vh;
	position: absolute;
	bottom: 0;
	width: 100%;
	margin: 0;
}

.hint {
	width: 20%;
	position: absolute;
}

.hint1 {
	margin-left: 10%;
}

.hint2 {
	margin-left: 40%;
}

.hint3 {
	margin-left: 70%;
}

/********************
 *                  *
 *     HINTBOX      *
 *                  *
 *                  *
 ********************/

#hintbox_cont {
	font-size: 20px;
	position: fixed;
	top: 4vw;
}

.hintbox {
	background-color: #aedecb;
	width: 50vw;
	line-height: 30px;
	margin: 2vw 2vw 0 2vw;
	padding: 1vw;
}

/********************
 *                  *
 *     VICTORY      *
 *                  *
 *                  *
 ********************/

#victory_cont {
	text-align: center;
	width: 60vw;
	position: fixed;
	left: 170vw;
	z-index: 5;
}

#victory_cont #victory_title {
	font-size: 150px;
	font-family: 'Crackman';
	line-height: 40vh;
	height: 30vh;
}

#victory_code {
	font-size: 60px;
	line-height: 60px;
	margin: 5vh auto;
}

#victory_code > img {
	height: 60px;
}

/********************
 *                  *
 *      HOW-TO      *
 *                  *
 *                  *
 ********************/

#howto_cont {
	display: none;
	font-size: 30px;
	height: 80vh;
	width: 25vw;
	background-color: #65ada060;
	position: absolute;
	left: 70vw;
	text-align: center;
	box-sizing: border-box;
}

#howto_cont > span {
	display: table-cell;
	color: #252525;
	width: 25vw;
	box-sizing: border-box;
	height: 24vh;
	vertical-align: middle;
	padding: 0 2vw;
}

#howto_cont > #enter {
	font-size: 40px;
	border: 1px #65ada000 solid;
	height: 30vh;
}

#howto_cont > span:hover {
	background-color: #c9ffea !important;
	color: #000 !important;
}

#howto_cont > #enter:hover {
	cursor: pointer;
}

#howto_cont:nth-child(2) {
	font-size: 40px;
}

#display_lives {
	height: 4vw;
	width: 100%;
	position: fixed;
	z-index: 3;
}

#on_question {
	display: inline-block;
	position: relative;
	width: 50px;
	height: 100%;
	line-height: 100%;
	top: -142px;
	left: 10px;
	font-size: 25px;
}

.charLifeImage {
	position: relative;
	top: -129px; /* I don't know why this element is being pushed down 129 pixels with pos: relative */
	left: -50px; /* space for questions_remaining span */
	max-height: 100%;
	margin-left: 2vw;
}

/********************
 *                  *
 *       OTHER      *
 *                  *
 *                  *
 ********************/

#enter_code_container, #answer_container {
	display: none;
	overflow: hidden;
}

/********************
 *                  *
 *       DEATH      *
 *                  *
 *                  *
 ********************/

#death_container {
	display: none;
	overflow: hidden;
	text-align: center;
}

#death_title span {
	display: inline-block;
}



/********************
 *                  *
 *    DIFFICULTY    *
 *      SLIDER      *
 *                  *
 ********************/

/* Credit: Andre Ruffert at https://codepen.io/collection/oeBwH */

#difficultySlider {
  vertical-align: middle;
  width: 100%;
}

#slider_tooltip {
  display: block;
  line-height: 30px;
  height: 30px;
  margin: 16px 0;
  font-size: 16px;
  text-align: right;
}

/*.rangeslider__tooltip {
  display: block;
  margin-top: 2.5em;
  font-size: 12px;
  color: #a59eb5;
}*/

.rangeslider__handle {
  border-radius: 22px;
  line-height: 42px;
  text-align: center;
  font-size: 18px;
}
.rangeslider__handle:after {
  background: 0;
}

.rangeslider,
.rangeslider__fill {
  display: block;
  border-radius: 10px;
}

.rangeslider {
  background: #e6e5ea;
  background-image: linear-gradient(to right, #4bc67d 30%, #f1c40f 45%, #b94a48 99%);
  position: relative;
}

.rangeslider--horizontal {
  height: 10px;
  width: 100%;
}

.rangeslider--vertical {
  width: 20px;
  min-height: 150px;
  max-height: 100%;
}

.rangeslider--disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}

.rangeslider__fill {
  position: absolute;
}

.rangeslider--horizontal .rangeslider__fill {
  top: 0;
  height: 100%;
}

.rangeslider--vertical .rangeslider__fill {
  bottom: 0;
  width: 100%;
}

.rangeslider__handle {
  background: white;
  border: 6px solid #4bc67d;
  cursor: pointer;
  display: inline-block;
  width: 40px;
  height: 40px;
  position: absolute;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.rangeslider__handle.js-low {
  border-color: #4bc67d;
}
.rangeslider__handle.js-med {
  border-color: #f1c40f;
}
.rangeslider__handle.js-high {
  border-color: #b94a48;
}

.rangeslider__handle:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.rangeslider--horizontal .rangeslider__handle {
  top: -20px;
  touch-action: pan-y;
  -ms-touch-action: pan-y;
}

.rangeslider--vertical .rangeslider__handle {
  left: -10px;
  touch-action: pan-x;
  -ms-touch-action: pan-x;
}

input[type="range"]:focus + .rangeslider .rangeslider__handle {
  -moz-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
  -webkit-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
  box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
}

/********************
 *                  *
 *    PLAY AGAIN    *
 *      TIMER       *
 *                  *
 ********************/

/* Credit: Mateusz Rybczonec at https://css-tricks.com/how-to-create-an-animated-countdown-timer-with-html-css-and-javascript/ */

.death-base-timer, .victory-base-timer {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.death-base-timer__svg, .victory-base-timer__svg {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  z-index: 2;
  position: relative;
  width: 300px;
  height: 300px;
  /* margin: 0 auto; */
}

.death-base-timer__circle, .victory-base-timer__circle {
  fill: none;
  stroke: none;
}

.death-base-timer__path-elapsed, .victory-base-timer__path-elapsed {
  stroke-width: 7px;
}

.death-base-timer__path-remaining, .victory-base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: 1s linear all;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.death-base-timer__path-remaining.green, .victory-base-timer__path-remaining.green {
  color: rgb(65, 184, 131);
}

.death-base-timer__path-remaining.orange, .victory-base-timer__path-remaining.orange {
  color: orange;
}

.death-base-timer__path-remaining.red, .victory-base-timer__path-remaining.red {
  color: red;
}

.death-base-timer__label, .victory-base-timer__label {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  font-size: 36px;
  z-index: 1;
}

svg:hover {
  cursor: pointer !important;
}

svg:hover + #death-base-timer-label, svg:hover + #victory-base-timer-label {
  color: #333333;
  /* change change fill of svg, but will need it semi-transparent to leave label visible */
}